{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore"
}
