<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</main>
</body>
<footer class="page-footer" style="background-color: #dc5d3b;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">My App</h5>
                <p class="grey-text text-lighten-4">Making web development cleaner and faster with Materialize and EJS.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/pages/login">Login</a></li>
                    <li><a class="grey-text text-lighten-3" href="/pages/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2025 My App
            <a class="grey-text text-lighten-4 right" href="#!">More</a>
        </div>
    </div>
</footer>

</body>

</html>