<%- include('components/header', { title,user}) %>

    <section>
        <h2>Welcome to the Home Page!</h2>
        <p>This is some home page content.</p>
        <div class="row">
            <div class="col m4">
                <div class="card" style="background-color: var(--beige-brown);">
                    <div class="card-content">
                      <span class="card-title">Card Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#" style="color: var(--green-gold);">This is a link</a>
                      <a href="#" style="color: var(--green-gold);">This is a link</a>
                    </div>
                  </div>
            </div>
            <div class="col m4">
                <div class="card" style="background-color: var(--soft-pink);">
                    <div class="card-content">
                      <span class="card-title">Card Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#" style="color: var(--main-color);">This is a link</a>
                      <a href="#" style="color: var(--main-color);">This is a link</a>
                    </div>
                  </div>
            </div>
            <div class="col m4">
                <div class="card" style="background-color: var(--beige-brown);">
                    <div class="card-content">
                      <span class="card-title">Card Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#" style="color: var(--green-gold);">This is a link</a>
                      <a href="#" style="color: var(--green-gold);">This is a link</a>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <%- include('components/footer') %>