<%- include('components/header', { title,user}) %>

  <section>
    <h2 style="color: var(--main-color);">Welcome to Giftzy!</h2>
    <div class="row">
      <div class="col m4">
        <div class="card" style="background-color: var(--beige-brown);">
          <div class="card-content">
            <span class="card-title">Secret Angel Game</span>
            <p>Secret Angel is a <b>real-time</b> game with a built-in chatroom where participants <b>anonymously
                exchange gifts.</b>
              Set a budget, invite players, and chat as the excitement builds. When the game ends, players receive an
              <b>email notification</b> revealing their Secret Angel!
            </p>
          </div>
          <div class="card-action">
            <a href="http://localhost:3000/secretAngel" style="color: var(--green-gold);">Click Here to Play</a>
          </div>
        </div>
      </div>
      <div class="col m4">
        <div class="card" style="background-color: var(--soft-pink);">
          <div class="card-content">
            <span class="card-title">Gift Ideas Community</span>
            <p>Gift Ideas Community is here for you ! You can <b>create post</b> with any ideas about gift and get <b>real-time notification</b> if other users like your post. You can also <b>like other posts created by other users</b> and <b>see the tutorial image or video.</b></p>
          </div>
          <div class="card-action">
            <a href="http://localhost:3000/communityMainPage" style="color: var(--main-color);">Click here to gift community</a>
          </div>
        </div>
      </div>
      <div class="col m4">
        <div class="card" style="background-color: var(--beige-brown);">
          <div class="card-content">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#" style="color: var(--green-gold);">This is a link</a>
            <a href="#" style="color: var(--green-gold);">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('components/footer') %>