<%- include('components/header', { title: 'Home Page' }) %>

    <section>
        <h2>Welcome to the Home Page!</h2>
        <p>This is some home page content.</p>
    </section>

    <%- include('components/footer') %>