.lobby-container {
  background-color: #263745;
  padding: 50px;
  color: white;
  text-align: center;
  height: 100%;
}

.lobby-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.create-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.create-game-btn {
  background-color: #559a6a;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 300px;
  justify-content: center;
  margin-top: 40px;
  overflow-y: auto;
}

.room-card {
  width: 200px;
  height: 100px;
  padding: 20px;
  color: black;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: left;
  color: black;
  display: block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modalTitle {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-row label {
  flex: 1;
  margin-right: 10px;
  color: white;
  font-size: 18px;
}

.form-row input {
  flex: 2;
  padding: 10px;
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-btn {
  padding: 10px 20px;
  background-color: #559a6a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-btn.cancel {
  background-color: #9a6255;
}

.hidden {
  display: none !important;
}
