:root {
  --main-color: #dc5d3b; /* Primary color */
  --secondary-color: #d9be84; /* secondary color */
  --text-color: #170704; /* Text color */
  --bgcolor: #eed5ce; /* Main Background color */
  --soft-pink: #eabdb1; /* pink for card */
  --beige-brown: #e2c9a6; /* beige brown for card */
  --green-gold: #b49707; /* Text Color in beige-brown card */
}

body {
  background-color: var(--bgcolor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Removes default margin */
}

main {
  flex: 1;
}

/*----- Theming the components ------*/
.btn-primary {
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: 600;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #e4714e;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:active {
  background-color: #d46231;
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-weight: 600;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #c4a864;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:active {
  background-color: #c49956;
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.text-main {
  color: var(--main-color);
}

input::placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

.pink-red-main {
  background-color: var(--main-color);
}

.card {
  color: var(--text-color);
}
html,
body {
  height: 100%;
  margin: 0;
}
