
<%- include('../components/header', { title: 'Event Reminder' , user }) %>
    <div class="calendar-container">
        <div id='calendar'></div>
    </div>

<%- include('../components/footer') %>

<style>
    .calendar-container {
        background-color: #d9be84;
        text-align: center;
        height: 100%;
    }

    .title {
        font-size: 36px;
    }
</style>

